language: minimal

addons:
  apt:
    packages:
      - luarocks

install: luarocks install --local luacheck

script: /home/travis/.luarocks/bin/luacheck . --no-color -q

script: curl -s https://raw.githubusercontent.com/BigWigsMods/packager/master/release.sh | bash
 
branches:
  only:
  - /^\d+\.\d+(\.\d+)?(-\S*)?$/

notifications:
  email:
    on_success: never
    on_failure: always